%p#notice= notice

%h1= @vine.title

%video{:src => @vine.video_url, :autoplay => "autoplay", :loop => "loop", :muted => true}

%h3
  Video Score: #{@vine.score}

= form_tag(upvote_vine_path(@vine), :method => "put") do
  = submit_tag "Vote Up!"

\|
= link_to 'Back To Top Vines', vines_path
